@font-face {
	font-family: Ohrenstead;
	src: url(./Ohrenstead.ttf) format("opentype");
	font-display: block;
}

/* Diplay none */
input[type=file] {
	display: none;
}

* {
	gap: 2px;
	margin: 0px;
}

html {
	font-family: 'Ohrenstead', cursive;
	font-size: 32px;
}

body {
	background-color: #a07a52;
	padding: 2px;
	user-select: none;
	display: flex;
	justify-content: center;
	-webkit-text-fill-color: #473524;
}

div {
	display: contents;
	gap: 2px;
}

canvas {
	background-color: #eadbac;
	border: 5px solid #473524;
}

label, input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Ohrenstead', cursive;
	font-size: 32px;

	& input[type=checkbox]:hover {
		border: 4px solid #eadbac;
	}
}

label:hover {
	cursor: pointer;
}

form {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 2px;
	grid-template-areas:
		". . . ."
		". . . .";
}

input[type=checkbox] {
	appearance: none;
	width: 16px;
	height: 16px;
	background-color: #ee5e5c;
	border: 4px solid #473524;
}

input[type=checkbox]:checked {
	background-color: #5cee66;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0px;
}

input[type=submit] {
	width: 178px;
}

.config-input {
	width: 160px;
	background-color: #eadbac;
	border: 5px solid #473524;
	cursor: pointer;
	padding: 0px 4px;
	font-size: 32px;
	text-align: start;
	-webkit-text-fill-color: #473524;
}

.config-input:hover, #label-input-sprite:hover {
	background-color: #a07a52;
	-webkit-text-fill-color: #eadbac;
}

#section-canvas {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

#label-input-sprite {
	background-color: #eadbac;
	border: 5px solid #473524;
	width: -webkit-fill-available;
	display: flex;
	justify-content: center;
}
